{% extends "base.html" %}
{% load i18n %}
{% load currency_conversions %}
{% load bootstrap_toolkit %}
{% block content %}

<h1>{{ merchant.business_name }}</h1>

{% if payment %}
    <h2>Payment #{{payment.id}}</h2>
<center>
<div class="well">
    {{ payment.currency_amount }} {{ merchant.currency }} = {{ payment.btc_amount }} BTC<br/>
    Exchange rate: {{ payment.exchange_rate }} (24h avg)<br/>
    {{ payment.bitcoin_address }}<br/>
    <img src="/django_bitcoin/qrcode/{{ payment.payment_url }}"/>
</div>
</center>
{% endif %}

<h2>New payment/address</h2>

<form id="paymentform" action="{{ merchant.url }}" method="POST">{% csrf_token %}
    {{ payment_form }}
    <button type="submit" name="submit" class="btn btn-danger">{% trans "New payment" %}</button>
</form>

<h2>Old payments</h2>

<table class="table table-striped">
<tr>
    <th>Bitcoin address</th>
    <th>Requested amount</th>
    <th>Received</th>
</tr>

{% for p in previous_payments %}
<tr>
    <td><a href="/m/{{ merchant.uuid }}/{{ p.id }}">{{ p.bitcoin_address }}</a>
{% if p.is_paid %}
    <span class="label label-success">Paid</span>
{% else %}
    <span class="label label-warning">Unpaid</span>
{% endif %}
    </td>
    <td>{{ p.btc_amount|btc2currency:"BTC" }} BTC ({{ p.currency_amount }} {{ merchant.currency }})</td>
    <td>{{ p.received }}</td>
</tr>
{% endfor %}
</table>

<h2>How to access</h2>

<p>You can</p>

{% endblock content %}