{% extends "base.html" %}
{% load i18n %}
{% load currency_conversions %}
{% load bootstrap_toolkit %}
{% load hash_filter %}
{% block content %}

<div style="position:fixed; top:5px; right:5px;">1 BTC = {{ 1|btc2currency:merchant.currency }} {{ merchant.currency }}<br/>
{% now "b d H:i" %}</div>
<h1>{% if merchant.business_name %}{{ merchant.business_name }}{% else %}{{ merchant.business_name }}{% endif %}</h1>


{% if payment %}
    <h2>Payment #{{payment.id}}</h2>
<center>
<div class="well" style="background-color: {% if payment.is_confirmed %}#468847{% elif payment.is_paid %}#3A87AD{% endif %}">
    <div>{{ payment.currency_amount }} {{ merchant.currency }} = {{ payment.btc_amount|btc2currency:"BTC" }} BTC</div>
    <div>Exchange rate: {{ payment.exchange_rate }} (24h avg)</div>
    <div class="address">{{ payment.bitcoin_address }}</div>
    <img src="/django_bitcoin/qrcode/{{ payment.payment_url }}"/>
</div>
</center>
{% endif %}

<h2>New payment/address</h2>

<form id="paymentform" action="{{ merchant.url }}" method="POST">{% csrf_token %}
    {{ payment_form }} &nbsp;{{ merchant.currency }}
    <button type="submit" name="submit" class="btn btn-danger">{% trans "Create!" %}</button>
</form>

<h2>Old payments</h2>

<table id="payments" class="table table-striped">
<tr>
    <th>Status</th>
    <th>Date</th>
    <th>Bitcoin address</th>
    <th>Requested amount</th>
    <th>Received</th>
</tr>

{% for p in previous_payments %}
<tr class="payment">
    <td>{% if p.is_confirmed %}
    <span class="label label-success">Confirmed</span>
{% elif p.is_paid %}
    <span class="label label-info">Paid</span>
{% else %}
    <span class="label label-warning">Unpaid</span>
{% endif %}</td>
    <td>{{ p.created_at }}</td>
    <td class="address"><a href="/m/{{ merchant.uuid }}/{{ p.id }}">{{ p.bitcoin_address }}</a></td>
    <td class="amount" data-amount="{{ p.btc_amount|btc2currency:"BTC" }}">{{ p.btc_amount }} BTC ({{ p.currency_amount }} {{ merchant.currency }})</td>
    <td class="received" data-received="{{ p.received|btc2currency:"BTC" }}" data-received-confirmed="{{ p.received_confirmed|btc2currency:"BTC" }}">{{ p.received|btc2currency:"BTC" }}</td>
</tr>
{% endfor %}
</table>

<div class="well">

    <h4>Merchant information</h4>

    <b>Master public key hashed:</b> {{ merchant.master_public_key|hash:"sha256" }}<br/>
    <b>Merchant URL:</b> <a href="{{ merchant.full_url }}">{{ merchant.full_url }}</a><br/>
    <b>Scan the following URL QR code on your mobile device. Bookmark it to accept payments with your phone:</b><br/>
    <img src="/django_bitcoin/qrcode/{{ merchant.full_url|urlencode:""|urlencode:"" }}"/>

</div>

<h3>Tips</h3>

<ul>
<li>You can use the same URL with multiple devices, and also share it with your employees, friends and family.</li>
</ul>

{% endblock content %}

{% block scripts %}
    <script src="/static/js/socket.io.min.js"></script>
    <script src="/static/js/bitcoinjs-exit.js"></script>
    <script src="/static/js/payment.js"></script>
{% endblock scripts %}
