

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'electrumpos',                      # Or path to database file if using sqlite3.
        'USER': '',                      # Not used with sqlite3.
        'PASSWORD': '',                  # Not used with sqlite3.
        'HOST': '',                      # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                      # Set to empty string for default. Not used with sqlite3.
    }
}


ELECTRUM_REMOTE_HOST = "localhost"
ELECTRUM_REMOTE_PORT = 8444
username = 'foo'
password = 'bar'

import jsonrpclib
electrum_wallet_server = jsonrpclib.Server('http://%s:%s@%s:%d'%(username, password, ELECTRUM_REMOTE_HOST, ELECTRUM_REMOTE_PORT))

